@media only screen and (min-width:1600px) {
    header .baniere {
        background-color: black;
        height: 200px;
        color: white;
    }
    header #wrap {
        width: 100%;
        height: 50px;
        margin: 0;
        z-index: 99;
        position: relative;
        background-color: green;
    }
    header .navbar {
        background-color: green;
        height: 50px;
        color: white;
        /*padding-left: 500px;*/
        max-width: 1170px;
        margin: auto;
    }
    header .navbar li {
        height: auto;
        width: 135.8px;
        float: left;
        text-align: center;
        list-style: none;
        font: normal bold 13px/1em Arial, Verdana, Helvetica;
        padding: 0;
        margin: 0;
        background-color: #1eb443;
    }
    header .navbar a {
        padding: 18px 0;
        /*border-left: 1px solid #ccc9c9;*/
        text-decoration: none;
        color: white;
        display: block;
    }
    header .navbar li:hover a:hover {
        background-color: black;
    }
    header .sous-nav {
        background-color: green;
        height: 50px;
        color: white;
    }
    header .sous-nav .server-connect {
        padding: 18px 0;
        /* padding-left: 850px; */
        text-decoration: none;
        color: white;
        /* display: block;
      /*  position: absolute; */
        max-width: 490px;
        margin: auto;
    }
    section .server-description {
        padding: 30px 1050 10 300px;
    }
}

@media only screen and (min-width:1024px) {}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:480px) {}

@media only screen and (min-width:480px) {}

@media only screen and (min-width:0px) {}