@media only screen and (min-width:768px) {
    footer .sous-footer {
        /*padding: 40px 0;*/
        background: #ccc;
        /*color: #ffffff;  */
        /*margin-top: 430px;*/
    }
    footer .sous-footer ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    footer .sous-footer li {
        padding: 0 10px;
    }
    footer .sous-footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    footer .sous-footer ul a:hover {
        opacity: 1;
    }
    footer .sous-footer .list-inline {
        padding-left: 0;
        list-style: none;
        margin-left: -5px;
    }
    footer .sous-footer .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
    footer .sous-footer .social {
        text-align: center;
        padding-bottom: 25px;
        padding-top: 20;
    }
    footer .sous-footer .social .icon {
        padding-top: 6;
    }
    footer .sous-footer .social>a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }
    footer .sous-footer .social>a:hover {
        opacity: 0.9;
    }
    footer .sous-footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
}

@media only screen and (min-width:480px) {
    footer .sous-footer {
        /*padding: 40px 0;*/
        background: #ccc;
        /*color: #ffffff;  */
        /*margin-top: 430px;*/
    }
    footer .sous-footer ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    footer .sous-footer li {
        padding: 0 10px;
    }
    footer .sous-footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    footer .sous-footer ul a:hover {
        opacity: 1;
    }
    footer .sous-footer .list-inline {
        padding-left: 0;
        list-style: none;
        margin-left: -5px;
    }
    footer .sous-footer .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
    footer .sous-footer .social {
        text-align: center;
        padding-bottom: 25px;
        padding-top: 20;
    }
    footer .sous-footer .social .icon {
        padding-top: 6;
    }
    footer .sous-footer .social>a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }
    footer .sous-footer .social>a:hover {
        opacity: 0.9;
    }
    footer .sous-footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
}

@media only screen and (min-width:480px) {
    footer .sous-footer {
        /*padding: 40px 0;*/
        background: #ccc;
        /*color: #ffffff;  */
        /*margin-top: 430px;*/
    }
    footer .sous-footer ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    footer .sous-footer li {
        padding: 0 10px;
    }
    footer .sous-footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    footer .sous-footer ul a:hover {
        opacity: 1;
    }
    footer .sous-footer .list-inline {
        padding-left: 0;
        list-style: none;
        margin-left: -5px;
    }
    footer .sous-footer .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
    footer .sous-footer .social {
        text-align: center;
        padding-bottom: 25px;
        padding-top: 20;
    }
    footer .sous-footer .social .icon {
        padding-top: 6;
    }
    footer .sous-footer .social>a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }
    footer .sous-footer .social>a:hover {
        opacity: 0.9;
    }
    footer .sous-footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
}

@media only screen and (min-width:0px) {
    footer .sous-footer {
        /*padding: 40px 0;*/
        background: #ccc;
        /*color: #ffffff;  */
        /*margin-top: 430px;*/
    }
    footer .sous-footer ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    footer .sous-footer li {
        padding: 0 10px;
    }
    footer .sous-footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    footer .sous-footer ul a:hover {
        opacity: 1;
    }
    footer .sous-footer .list-inline {
        padding-left: 0;
        list-style: none;
        margin-left: -5px;
    }
    footer .sous-footer .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
    footer .sous-footer .social {
        text-align: center;
        padding-bottom: 25px;
        padding-top: 20;
    }
    footer .sous-footer .social .icon {
        padding-top: 6;
    }
    footer .sous-footer .social>a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }
    footer .sous-footer .social>a:hover {
        opacity: 0.9;
    }
    footer .sous-footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
}

@media only screen and (min-width:1024px) {
    footer .sous-footer {
        /*padding: 40px 0;*/
        background: #ccc;
        /*color: #ffffff;  */
        /*margin-top: 430px;*/
    }
    footer .sous-footer ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    footer .sous-footer li {
        padding: 0 10px;
    }
    footer .sous-footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    footer .sous-footer ul a:hover {
        opacity: 1;
    }
    footer .sous-footer .list-inline {
        padding-left: 0;
        list-style: none;
        margin-left: -5px;
    }
    footer .sous-footer .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
    footer .sous-footer .social {
        text-align: center;
        padding-bottom: 25px;
        padding-top: 20;
    }
    footer .sous-footer .social .icon {
        padding-top: 6;
    }
    footer .sous-footer .social>a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }
    footer .sous-footer .social>a:hover {
        opacity: 0.9;
    }
    footer .sous-footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
}

@media only screen and (min-width:1600px) {
    footer .sous-footer {
        /*padding: 40px 0;*/
        background: #ccc;
        /*color: #ffffff;  */
        /*margin-top: 430px;*/
    }
    footer .sous-footer ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    footer .sous-footer li {
        padding: 0 10px;
    }
    footer .sous-footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    footer .sous-footer ul a:hover {
        opacity: 1;
    }
    footer .sous-footer .list-inline {
        padding-left: 0;
        list-style: none;
        margin-left: -5px;
    }
    footer .sous-footer .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
    footer .sous-footer .social {
        text-align: center;
        padding-bottom: 25px;
        padding-top: 20;
    }
    footer .sous-footer .social .icon {
        padding-top: 6;
    }
    footer .sous-footer .social>a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }
    footer .sous-footer .social>a:hover {
        opacity: 0.9;
    }
    footer .sous-footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
}